h1{
    color: blue;
    text-align: center;
}
p{
    color: rgb(255, 208, 0);
}
b{
    color: rgb(12, 231, 12);
}
u{
    color: aqua;
}
i{
    color: rgb(255, 0, 0);
}
body{
    background-color: rgb(0, 0, 0);


