h1{
    text-align: center;
    color: blue;

}
image{
    background-color: blueviolet;
}
body{
    background-color: blueviolet;
}
h2{
    color: lightskyblue;
    
}
textarea{
    background-color: rgb(35, 255, 6);
    color: blue;

}


