.header{
    background-color: rgb(68, 95, 69);
    width: 200px;
    height: 75px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    color: aliceblue;
}


div{
   
    align-items: center;
}